# Python
__pycache__/
*.py[cod]
*$py.class

# Python virtual env
backend/.venv/
backend/venv/

# Environment variables
.env
backend/.env
frontend/.env

# Uploads
backend/uploads/

# Angular / Node
frontend/node_modules/
frontend/dist/

# IDE folders
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db